openapi: 3.0.0
info:
  title: Paziresh24 web services document
  version: '1.0'
  description: Health system platform to connect patients to providers
  termsOfService: https://www.paziresh24.com/home/rules/
  contact:
    email: info@paziresh24.com
    name: paziresh24
    url: https://www.paziresh24.com
servers:
  - url: https://apigw.paziresh24.com
    variables: {}
paths:
  /v1/providers:
    get:
      summary: get providers information
      description: ''
      operationId: getProviderInfo
      parameters:
        - name: user_id
          description: Uniqe identifier of any users
          schema:
            type: string
          in: query
      responses:
        default:
          description: Normal response to fetch a provider
          content:
            application/json:
              examples:
                providers:
                  value: |-
                    {
                      "providers" : {
                        "biography" : "Example biography of a doctor",
                        "user_id": 12345,
                        "slug": "dr_ali_rezaei",
                        "prefix": "doctor",
                        "employee_id": "12345",
                        "job_title": "doctor"
                      }
                    }
      tags:
        - Providers
    patch:
      summary: Update provider fields
      description: ''
      operationId: user_id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                biography:
                  type: string
                employee_id:
                  type: string
              required:
                - biography
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                '204':
                  description: No Content (request was successful)
      tags:
        - Providers
tags:
  - name: Providers
  - name: Users
  - name: Memberships
