openapi: 3.0.0
info:
  title: Paziresh24 web services document
  version: '1.0'
  description: Health system platform to connect patients to providers
  termsOfService: https://www.paziresh24.com/home/rules/
  contact:
    email: info@paziresh24.com
    name: paziresh24
    url: https://www.paziresh24.com
servers:
  - url: https://apigw.paziresh24.com
    variables: {}
paths:
  /v1/providers:
    get:
      summary: get providers information
      description: ''
      operationId: getProviderInfo
      parameters:
        - name: user_id
          description: Uniqe identifier of any users
          schema:
            $ref: '#/components/schemas/user/properties/user_id'
          in: query
      responses:
        '200':
          description: Normal response to fetch a provider
          content:
            application/json:
              schema:
                properties:
                  providers:
                    nullable: false
                    type: array
                    items:
                      $ref: '#/components/schemas/provider'
      tags:
        - Providers
    patch:
      summary: Update provider fields
      description: ''
      operationId: user_id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                biography:
                  $ref: '#/components/schemas/provider/properties/biography'
                employee_id:
                  $ref: '#/components/schemas/provider/properties/employee_id'
      responses:
        '204':
          $ref: '#/components/responses/204'
      tags:
        - Providers
  /v1/memberships:
    summary: Relational record between users and centers
    get:
      summary: Get membership records
      description: ''
      operationId: getMembershipInfo
      parameters:
        - name: user_id
          schema:
            $ref: '#/components/schemas/user/properties/user_id'
          in: query
      responses:
        '200':
          description: Get membership records
          content:
            application/json:
              schema:
                properties:
                  memberships:
                    nullable: false
                    type: array
                    items:
                      $ref: '#/components/schemas/membership'
      tags:
        - Memberships
    post:
      summary: 'Insert membership record '
      description: Link a user from other platforms to a provider profile
      operationId: insertMembership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/membership'
      responses:
        '201':
          $ref: '#/components/responses/201'
      tags:
        - Memberships
    delete:
      summary: remove a membership
      description: >-
        Delete connection between user of other platforms and provider's profile
        in paziresh24
      operationId: deleteMembership
      parameters: 
        - name: user_id
          in: query
          schema:
            $ref: '#/components/schemas/user/properties/user_id'
        - name: center_id
          in: query
          schema:
            $ref: '#/components/schemas/membership/properties/center_id'
      responses:
        204:
          $ref: '#/components/responses/204'
      tags:
        - Memberships
tags:
  - name: Providers
  - name: Users
  - name: Memberships
components:
  schemas:
    user:
      description: user information
      properties:
        user_id:
          nullable: false
          description: uniqe identifier of any user
          example: 123
          type: integer
    provider:
      description: provider information
      properties:
        biography:
          nullable: true
          title: provider biography
          type: string
          example: This is a example test biography
        user_id:
          $ref: '#/components/schemas/user/properties/user_id'
        employee_id:
          description: >-
            uniqe identifer of any provider related to his/her job (ex: for
            doctors is medical code)
          type: string
          example: 1234567890
        job_title:
          description: job title of provider
          enum:
            - doctor
          type: string
          example: doctor
        prefix:
          description: >-
            prefix of provider according to his/her job  (ex: for doctors is
            دکتر)
          type: string
          example: دکتر
    membership:
      description: Relational record between users and centers
      properties:
        user_id:
          $ref: '#/components/schemas/user/properties/user_id'
        center_id:
          description: Identifier of center (facilities that providers work on)
          example: 9876
          type: string
        booking_link:
          description: Base url of booking APIs for provider in the center
          type: string
          example: https://panel.paziresh24.com/api/v2/user-centers/1234
  responses:
    '201':
      description: Record inserted successfully
    '204':
      description: No Content (request was successfully executed)
