openapi: 3.0.0
info:
  title: Paziresh24 web services document
  version: '1.0'
  description: Health system platform to connect patients to providers
  termsOfService: https://www.paziresh24.com/home/rules/
  contact:
    email: info@paziresh24.com
    name: paziresh24
    url: https://www.paziresh24.com
servers:
  - url: https://apigw.paziresh24.com
    variables: {}
paths:
  /v1/providers:
    get:
      summary: get providers information
      description: ''
      operationId: getProviderInfo
      parameters:
        - name: user_id
          description: Uniqe identifier of any users
          schema:
            type: string
          in: query
      responses:
        200:
          description: Normal response to fetch a provider
          content:
            application/json:
              schema:
                properties:
                  providers:
                    nullable: false
                    type: array
                    items:
                      $ref: '#/components/schemas/provider'
              examples:
                doctor:
                  value: |-
                    {
                      "providers" : {
                        "biography" : "Example biography of a doctor",
                        "user_id": 12345,
                        "slug": "dr_ali_rezaei",
                        "prefix": "دکتر",
                        "employee_id": "12345",
                        "job_title": "doctor"
                      }
                    }
      tags:
        - Providers
    patch:
      summary: Update provider fields
      description: ''
      operationId: user_id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                biography:
                  type: string
                employee_id:
                  type: string
              required:
                - biography
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                '204':
                  description: No Content (request was successful)
      tags:
        - Providers
tags:
  - name: Providers
  - name: Users
  - name: Memberships
components:
  schemas:
    user:
      description: user information
      properties:
        user_id:
          nullable: false
          description: uniqe identifier of any user
          type: integer
    provider:
      description: provider information
      properties:
        biography:
          nullable: true
          title: provider biography
          type: string
        user_id:
          $ref: '#/components/schemas/user/properties/user_id'
        employee_id:
          description: 'uniqe identifer of any provider related to his/her job
            (ex: for doctors is medical code)'
          type: string
        job_title:
          description: job title of provider
          enum:
          - doctor
          type: string
        prefix:
          description: 'prefix of provider according to his/her job 
            (ex: for doctors is دکتر)'
          type: string
    provider-request:
      title: Root Type for provider-request
      description: ""
      type: object
      properties:
        biography:
          description: بیوگرافی
          type: string
        employee_id:
          description: شناسه ی شغلی
          type: string
      example:
        biography: بیوگرافی
        employee_id: شناسه ی شغلی